a {
  color: inherit;
  text-decoration: none;
}
.page {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 500px;
  font-family: sans-serif;
  font-weight: 800;
  background-color: var(--main-bg);
  overflow-x: hidden;
  }
.flex {
  display: flex;
  flex-wrap: wrap;
  }

html {
  box-sizing: border-box;
  }
.flex {
  display: flex;
  }
.join-us-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  max-width: 585px;
  margin-top: 53px;
  margin-left: auto;
  }
.join-us-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  margin-top: 16px;
  margin-left: auto;
  max-width: 585px;
  margin-bottom: 20px;
  }
.join-us-text img {
  margin-right: 30px;
  }
.join-us-text {
  display: flex;
  flex-direction: row;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  align-items: flex-start;
  margin-left: auto;
  margin-right: auto;
  }
  .steps {
  background-color: #FFF6ED;
  }
  .howwework-title {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  color: #000000;
  padding-top: 30px;
  margin-bottom: 0px;
  text-align: center;
  margin-top: -20px;
  background-color: #FFF6ED;
  }
  .test {
  padding: 25px;
  }
  .row {
  padding-left: 40px;
  }
  .edge-img {
  position: relative;
  }
  .servicesLinks {
  position: absolute;
  top: 70px;
  left: 120px;
  }